<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.senpo.android.hello.hellojni"
  android:versionCode="1"
  android:versionName="1.0" >

    <uses-sdk
      android:minSdkVersion="26"
      android:targetSdkVersion="29" />

    <application
      android:label="hellojni">
        <activity
          android:name="com.senpo.android.hello.hellojni.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
